@font-face {
  font-family: 'ptah';
  src: url('../fonts/ptah-regular-webfont.woff2') format('woff2'),
       url('../fonts/ptah-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ptah';
  src: url('../fonts/ptah-italic-webfont.woff2') format('woff2'),
       url('../fonts/ptah-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'body';
  src: url('../fonts/bagnardsans-webfont.woff2') format('woff2'),
       url('../fonts/bagnardsans-webfont.woff') format('woff');
}

@font-face {
  font-family: 'work_regular';
  src: url('../fonts/WorkSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'work_light';
  src: url('../fonts/WorkSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Cormorant_Light';
  src: url('../fonts/Cormorant-Light.woff2') format('woff2'),
  url('../fonts/Cormorant-Light.woff') format('woff');
}


div { vertical-align: top; }

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body{
  background: rgb(33, 32, 32);
  padding: 0;
  margin: 0;
  /* font-family: 'Work Sans', sans-serif; */
  font-family: 'ptah', sans-serif;
  font-weight: 400;
  margin: 20px;
  /* overflow: hidden; */
}


body.bg1 { 
  background: url('../img/smoke7.jpg') no-repeat; 
  background-size: cover;
        }
body.bg2 {
  background: url('../img/henry8.jpg') no-repeat; 
  background-size: cover;
 }
body.bg3 {
  background: url('../img/chong03.jpg') no-repeat; 
  background-size: cover;
 }

/* body.bg1 { background: #ff0; } */
/* background: url('../img/imgname.jpg'); */

a:link{
  text-decoration: none;
  color:whitesmoke;
}

a:visited {
  color:whitesmoke;
}

a:active {
  color:whitesmoke;
}

.underline{
  border-bottom: 1px solid white;
}

.close {
  font-size: 80px;
  line-height: 1;
  position: fixed;
  top: 8px;
  right: 30px;
  color:whitesmoke;
  font-family: 'work_light',sans-serif;
}

.next {
  font-size: 60px;
  line-height: 1;
  position: fixed;
  top: 600px;
  right: 33px;
  color:whitesmoke;
  font-family: 'work_light',sans-serif;
}

.resize {
  font-family: 'work_regular',sans-serif;
  transform: rotate(-90deg);
  font-size: 13px;
  line-height: 1;
  position: fixed;
  top: 335px;
  right: -148px;
  color:rgb(33, 32, 32);
  animation: blinker 3s linear infinite;
  animation-delay: 2s;
}

@keyframes blinker {
  0%   {color: white;}
  50% {
    opacity: 0;
    color:whitesmoke;
  }

}

.top-nav{
  width: 100%;
  height: 310px;
}

/* .logo1 img{
  position: absolute;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-top: 0;
} */

.logotype{
  top: 110px;
  margin: 0 auto;
  color:whitesmoke;
  font-size: 124px;
  text-align: center;
}

.menu{
  top: 260px;
  margin: 0 auto;
  color:whitesmoke;
  font-size: 20px;
  text-align: center;
}

.artchina{
  position: relative;
  width: 100%;
  color: white;
  font-size: 36px;
  text-align: center;
  padding-top: 30px;
  transform: translate(0,290%);
}

.number{
  position: absolute;
  left: 40px;
  top: 40px;
  color:whitesmoke;
  display: inline-block;
  font-size: 80px;
  font-weight: lighter;
  font-family: 'Cormorant_Light',sans-serif;
  line-height: 80px;
  display: none;
}


.project_title{
  position: absolute;
  left: 40px;
  top: 122px;
  color:whitesmoke;
  display: inline-block;
  font-size: 80px;
  font-weight: lighter;
  font-family: 'Cormorant_Light', sans-serif;
  line-height: 80px;
}

.about_logo{
  position: absolute;
  left: 40px;
  top: 122px;
  color:whitesmoke;
  display: inline-block;
  font-size: 80px;
  font-weight: lighter;
  font-family: 'ptah', sans-serif;
  line-height: 80px;
}

.intro{
  position: relative;
  width: 80%;
  top: -40px;
  padding: 0 20px 100px 20px;
  color:whitesmoke;
  font-size: 30px;
  line-height: 40px;
  display: none; 
  overflow: hidden;
  font-family: 'work_light', sans-serif;
  /* letter-spacing: 0.5px; */
}

.credit{
  margin-top: 80px;
  margin-bottom: 0;
  width: 100%;
  height: auto;
  color: grey;
  /* text-align: center; */
  font-size: 15px;
  line-height: 11px;
  letter-spacing: 0.6px;
  font-family: 'work_regular',sans-serif;
}

#credit2{
  padding: 0;
  margin-top: 10px;
  width: 100%;
  font-family: 'Cormorant_Light',sans-serif;
  font-size: 15px;
  letter-spacing: 0.4px;
  color:white;
}


.Issuelist {
  width: 100%;
  text-align: center;
}

.Issue {
  padding: 0 30px 100px 20px;
  margin: 0 80px 0 0;
  width: 100%;
  color:whitesmoke;
  line-height: 40px;
  text-align: center;
  transform: translate(0,220%);
}

.IssueTitle{
  width: 30%;
  font-size: 20px;
  line-height: 24px;
  font-family: 'Cormorant_Light', sans-serif;
  padding: 0;
  margin: 0;
  display: inline-block;
}


.smoke_img {
  padding: 0;
  width: 100%;
  height: auto;
  display: none;
}

#project_img {
  padding-right: 20px;
  padding-bottom: 20px;
}

.print_img{
  padding: 0;
  width: 100%;
  height: auto;
  display: none;
  }

@media only screen 
  and (min-width: 868px) 
  and (max-width: 1680px) {
  .intro {
  display: block;
    }

}

@media only screen 
  and (min-width: 0) 
  and (max-width: 867px) {
    .smoke_img {
  display: block;
    }

    .resize {
      display: none;
        }

    #project_img {
      width: 100%;
      height: auto;
      padding-left: 10px;
      padding-right: 15px;
      padding-bottom: 15px;
    }
      
}

@media only screen 
  and (min-height: 0px) 
  and (max-height: 270px) {
  .number {
  display: block;
    }

    .project_title {
      display: none;
    }

    .resize{
      display: none;
    }


}


.print_title{
  display: none;
}

.print_title2{
  display: none;
}

.print_contact {
  display: none;
}

.print_img {
  display: none;
}

/* .print_img2 {
  display: none;
} */

@media print {
  .print_title{
    display: block;
    color: black;
    padding: 0;
    margin-bottom: 13px;
    font-size: 18px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
  }

  .print_title2{
    display: block;
    color: black;
    padding: 0;
    margin-bottom: 13px;
    font-size: 18px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
  }
  


  .print_contact {
    display: block;
    font-size: 13pt;
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;

  }


  .print_img {
    display: block;
    page-break-after: avoid;
    page-break-inside: avoid;
    padding-bottom: 20px;
 
}

#Zhou { 
  width: 100%;
  height: auto;
  padding-bottom: 30px;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}


#QR { 
  width: 40%;
  height: auto;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

  .project_title {display:none;}
  .intro {display:none;}
  .close {display:none;}
  .resize {display:none;}
  .next {display:none;}
  .contact {
    width:100%;
    color: #000;    
    background-color: #fff;
    page-break-after: avoid;
    page-break-inside: avoid;
}
  @page {
    margin: 2cm;
}

  }
